.wrapper-bodycolor{
    background-color: #3f5efb12;
    height: 100%;
    padding-top:100px ;
    margin-top: -100px;
    padding-bottom: 200px;
}

.container-about{
    width: 85vw;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.about-grid{
width: 100%;
display: grid;
grid-template-columns: repeat(2,1fr);
grid-template-rows: repeat(4,1fr);
padding: 25px 30px;
gap: 3vw;
}

.div1{
    grid-row:1 ;
    grid-column:1/2 ;
}
.div2{
    grid-row:2 ;
    grid-column:2/3 ;
}
.div3{
    grid-row:3 ;
    grid-column:1/2 ;
}
.div4{
    grid-row:4 ;
    grid-column:2/3 ;
}
.div5{
    grid-row:1 ;
    grid-column:2/3 ;
}
.div6{
    grid-row:2 ;
    grid-column:1/2 ;
}
.div7{
    grid-row:3 ;
    grid-column:2/3 ;
}
.div8{
    grid-row:4 ;
    grid-column:1/2 ;
}

.bgc {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    text-align: center;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7rem;
}


.txt{
    text-align: center;
    font-size:1.3rem ;
    font-weight: 500;
}
