.footer{
  width: 100%;
  height: auto;
  background: rgb(159,227,240);
  background: linear-gradient(0deg, rgba(159,227,240,1) 42%, rgba(229,211,164,1) 83%);
  text-align: center;
}
.footer-headline {
  padding-top: 70px;
  font-size: 2.7rem;
}
.footer-secHeadLine{
  margin-top: -10px;
  font-size: 1.8rem;
}

.footer-contactWrapeer{
  width: 98.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0 ;
  gap: 50px;
  
}

.footer-txt{
  font-size:1rem;
}