html {
    scroll-behavior: smooth;
}

.LP-body-container{
    background: rgb(255,244,214);
    background: linear-gradient(0deg, rgba(255,244,214,1) 99%, rgba(183,243,255,1) 100%);
}

.LP-hr {
    margin: 0 auto;
    width: 72vw;
    border-radius: 50%;
    border: 4px double #00000094;
}

.LP-main-title,
.LP-sub-title{
    text-align: center;
    color: black;
    font-family: ui-monospace;
}

.LP-main-title{
    padding-top: 67px;
    font-size: 3.8rem;
    margin-top: -42px;
}

.LP-sub-title{
    font-size:1.5rem;
    padding: 12px 10px;
}

.LP-description{
    padding: 15px;
    width: 70vw;
    margin: 0 auto;
    text-align: left;
    line-height: 1.7;
}

.LP-description-txt {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 20px 0;
}

.LP-photos-container{
    width: 98.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LP-photo{
    width: 70vw;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
}

.LP-photo:hover{
    border-radius: 1px;
    transform: scale(1.02);
    cursor: pointer;
}

.LP-contact {
    text-align: center;
}

.LP-location{
    text-align: center;
}

.LP-up-button{
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-size: 2rem;
}

