
.LP-container-navbar{
    width: 100%;
    margin: 0 auto;
    padding-top: 15px;
    display: flex;
    justify-content: center;
    background: #e6fbff;
    background: linear-gradient(0deg, rgba(230,251,255,0.6223739495798319) 14%, rgb(0 212 255 / 50%) 86%)
}

.LP-navbar{
width: 80vw;
padding: 12px;
display: flex;
justify-content: space-between;
align-items: center;
gap: 15px;
border-radius:50px;
position: relative;
background-color: black;
box-shadow: 0px 5px 38px #e2ffff;
}

.LP-navbar-BtnImg-wrapper{
display: flex;
justify-content: center;
align-items: center;
gap: 15px;
}

.LP-navbarImg{
    width: 60px;
    height: 60px;
    border-radius: 50px;
}

.LP-navbarBtn {
    background-color: black;
    font-size: 1rem;
    width: 128px;
    padding: 7px 7px;
    border-radius: 21px;
    color: #dddddd;
    border-color: #afffff;
    font-weight: bold;
}

.LP-navbarImg:hover{
cursor: zoom-in;
transform: scale(1.1);
transition: all 0.1s ease-in-out;
}

.LP-navbarBtn:hover{
cursor: pointer;
color: white;
transform: scale(1.01);
transition: all 0.1s ease-in-out;
}

.LP-navbarOwner{
    display: flex;
    justify-content: center;
    align-self: center;
    padding-right: 28px;
    font-size:2rem;
    color: white;
}