.body-container{
    background-color: burlywood;
    margin-top: -122px;
}

.main-title,
.sub-title{
    text-align: center;
    color: white;
}

.main-title{
padding-top: 67px;
font-size: 3.8rem;
}

.sub-title{
font-size: 1.7rem;
margin-top: -20px;
}

.description{
font-size: 1.5rem;
text-align: center;
}

.photos-container{
 width: 98.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact {
    text-align: center;
}

.location{
    text-align: center;
}

