.container-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.grid-cards{
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}

.main-title,
.sec-title{
text-align: center;
font-family: ui-monospace;
}
.main-title{
font-size: 3rem;
}
.sec-title{
font-size: 1.6rem;
}

.hr{
    margin: 0 auto;
    width: 72vw;
    border-radius: 50%;
    border: 4px double #00000094;
}

.tac{
    text-align: center;
}
.footer{
    padding-top: 100px;
}


@media screen and (max-width:1000px) {
    .grid-cards{
        grid-template-columns: repeat(2, auto);
    }
}

@media screen and (max-width:700px) {
    .grid-cards{
        grid-template-columns: repeat(1, auto);
    }
    
}